discord.py[voice] #git+https://github.com/Rapptz/discord.py (discord.py[voice])
PyNaCl
googletrans==3.1.0a0
# ffmpeg (or something??) (actually not the python module just the cmd tool)
youtube-dl
parsedatetime